.btn button {
 padding: 5px 24px;
 font-size: 22px;
 text-transform: uppercase;
 cursor: pointer;
 background-color: #ffff52;
 border: 0;
 margin-right: 10px;
}

.btn button:hover {
 background-color: #ffff2a;
}
